<h3> This will be the submission page.</h3>

<form method="post" action="/upload">
  <label>Song Title</label>
  <input type="text" name="songtitle">
  <label>Author</label>
  <input type="text" name="author">
  <label>Link</label>
  <input type="text" name="url">
  <label>Submit</label>
  <input type="submit">
</form>