


<h3>Login to Music Wall</h3>
<form method="post" action="/user/login">
  <label>Email</label>
  <input type="text" name="email">
  <br>
  <label>Password</label>
  <input type="text" name="password">
  <br>
  <label>Submit</label>
  <input type="submit" name="submit">
</form>