<h1>Music Wall V1</h1>
<a href="/user/login">Login</a>

<% if session['user'] != nil %>
  <p><%= session['user'][0].username %></p>
  <a href="user/logout">Logout</a>
  <a href="/upload">Submit a new song to the wall.</a>
<% else %>
  <p> Guest </p>
  <a href="/user">Sign up</a><p> to upload a song and vote!</p>
<% end %>
<% Song.all.each do |song| %>
  <div class="song"> 
    <h3>Song: <%= song.songtitle %></h3>
    <h4> Band: <%= song.author %></h4>
    <p> Link: <%= song.url %></p>
  </div>
<% end %>




